@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: #0D0D0D;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.textField {
    color: rgba(76, 76, 76, 1) !important;
}

input[type=text],[type=password] {
    color: rgba(189, 193, 199, 1) !important;
}

input[type=text],[type=password]:focus {
    color: rgba(189, 193, 199, 1) !important;
}


