.main{
  padding: 8px;
}
.mainError{
  padding: 8px;
  border: 1px solid #FF0000;
}
.recaptcha{
}
.error{
  height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 4px ;
  color: #FF0000;
}
