.error {
  color: #CC1439;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.input {
  color: white;
  border-bottom: 1px solid grey;

  :focus {
    border: none;
  }
}

.textFieldLabel {
  color: #BDC1C7;
}


