.error {
  height: 18px;
  color: red;
}
.password {
  position: relative;
}
.showPassword {
  position: absolute;
  right: 10px;
  top: 15px;
}
.input {
  color: white;
  border-bottom: 1px solid grey;
}

.textFieldLabel {
  color: #BDC1C7;
}
.error {
  color: #CC1439;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}