.button{
  display: inline-block;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #397DF6;
  background: transparent;
  border-radius: 2px;
  border: 2px solid #397DF6;

  &:active{
    background: transparent   ;
  }
  &:hover{
    background: #73A5FF;
    border: 2px solid #73A5FF ;
  }
  &:focus{
    background: #2F68CC;
    border: 2px solid #2F68CC     ;
  }
  &:disabled{
    background: #234E99;
    color: #234E99;
  }
}