.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #333333;
    border: none;
    border-radius: 5px;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}